<% if signed_in? %>
	<h2>Your Information</h2>
	<div class="row">
		<div class="col-md-offset-2 user_info">
			<dl class="dl-horizontal">
		  <dt>Name</dt>
		  <dd><%= @user.name %></dd>
		  <dt>Email</dt>
		  <dd><%= @user.email %></dd>
		  <dt>Phone</dt>
		  <dd><%= @user.phone %></dd>
		</dl>		
		</div>		
	</div>
	<%= render 'shared/list_microposts' %>  
	<%= will_paginate @microposts %>
<% else %>
    <h1>Please Login Before Using System.</h1>
<% end %>